<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../css/assignments.css">
        <title>Assignments</title>
    </head>
    <body>
        <div class="navbar-container">
            <!-- Navbar links -->
            <a href="index.html">Home</a>
            <a href="assignments.html">Assignment</a>
            <a href="syllabus.html">Syllabus</a>
            <a href="piazza.html">Piazza</a>
            <a href="labs.html">Labs</a>
            <a href="markus.html">MarkUs</a>
            <a href="courseteam.html">Course Team</a>
            <a href="feedback.html">Feedback</a>
        </div>

        <div class="body-container">
            <div class="assignments">
                <!-- all assignment blobs are contained in the assignments container -->
                <div class="assignment">
                    <!-- contains the Assignment header, a due date, and links to the handouts -->
                    <h1>Assignment 1</h1>
                    <hr>
                    To be submitted to gradescope.<br>
                    Small update Jan. 27 (noted in red)<br><br>
                    <a href="Documents/assignment.pdf">a1.pdf</a>
                    <a href="Documents/assignment.tex">a1.tex</a>
                </div>
                <div class="assignment">
                    <!-- contains the Assignment header, a due date, and links to the handouts -->
                    <h1>Assignment 2</h1>
                    <hr>
                    To be submitted to gradescope.<br>
                    Note new due date.<br><br>
                    <a href="Documents/assignment.pdf">a2.pdf</a>
                    <a href="Documents/assignment.tex">a2.tex</a>
                </div>
                <div class="assignment">
                    <!-- contains the Assignment header, a due date, and links to the handouts -->
                    <h1>Assignment 3</h1>
                    <hr>
                    To be submitted to gradescope.<br>
                    Note new due date (Sunday March 21 at noon).<br><br>
                    <a href="Documents/assignment.pdf">a3.pdf</a>
                    <a href="Documents/assignment.tex">a3.tex</a>
                </div>
            </div>
        </div>

        <footer class="footer">
            <div class="footer-container">
                <!-- Footer content -->
                <hr id="break-line">
                <div class="footer-content-container">
                    <div class="footer-content">This website was made as an assignment for the course CSCB20 at University of Toronto Scarborough Campus</div>
                    <div class="footer-content"><a href="https://web.cs.toronto.edu/">Faculty of Computer Science at UofT</a></div>
                    <div class="footer-content">Copyright&copy 2021. All Rights Reserved.</div>
                    <div class="footer-content">Made by Jawad Arshad and Jiazheng Li</div>
                </div>
            </div>
        </footer>
    </body>
</html>