<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../css/courseteam.css">
        <title>Course Team</title>
    </head>
    <body>
        <div class="navbar-container">
            <!-- Navbar links -->
            <a href="index.html">Home</a>
            <a href="assignments.html">Assignment</a>
            <a href="syllabus.html">Syllabus</a>
            <a href="piazza.html">Piazza</a>
            <a href="labs.html">Labs</a>
            <a href="markus.html">MarkUs</a>
            <a href="courseteam.html">Course Team</a>
            <a href="feedback.html">Feedback</a>
        </div>
        <div class="body-container">
            <div class="course-instrctor">
                <!-- image of Anna -->
                <div id="anna-img"><img src="https://www.utsc.utoronto.ca/cms/sites/utsc.utoronto.ca.cms/files/styles/person-thumbnail/public/Anna_Bretscher.jpg?itok=fsOxaRe6" alt="image of Anna Bretscher"></div>
                <!-- Brief discription of Anna -->
                <div id="description">
                    <h1> About Anna Bretscher</h1>
                    Dr. Bretscher joined the department in 2004 after completing a Ph.D in 
                    Graph Theory at the University of Toronto and Master's and Bachelor's 
                    degrees at Queen's University. After teaching a course as a graduate student,
                    Anna came to the realization that teaching students theoretical concepts is 
                    where her passion lies. In particular, she loves the challenge of simplifying difficult
                    concepts and the reward of successfully teaching new topics. <br><br>
                    Source: <a href="https://www.utsc.utoronto.ca/cms/anna-bretscher">https://www.utsc.utoronto.ca/cms/anna-bretscher</a> 
                </div>
            </div>

            <div class="TA-container">
                <h1>Teaching Assistants this term</h1>    
                <div class="TAs">   
                    <!-- all ta are contained in the tas container-->
                    <div class="TA">
                        <!-- the ta container has a list the contains the name, office hours, and the zoom link for that ta -->
                        <ul>
                            <li>BOB BOB</li>
                            <li>OFFICE HOURS: Tues. 13:00</li>
                            <li>ZOOM LINK</li>
                        </ul>
                    </div>

                    <div class="TA">
                        <!-- the ta container has a list the contains the name, office hours, and the zoom link for that ta -->
                        <ul>
                            <li>ROB GLENN</li>
                            <li>OFFICE HOURS: MON. 15:00</li>
                            <li>ZOOM LINK</li>
                        </ul>
                    </div>

                    <div class="TA">
                        <!-- the ta container has a list the contains the name, office hours, and the zoom link for that ta -->
                        <ul>
                            <li>JEFFERY NOB</li>
                            <li>OFFICE HOURS: FRI. 10:00</li>
                            <li>ZOOM LINK</li>
                        </ul>
                    </div>

                    <div class="TA">
                        <!-- the ta container has a list the contains the name, office hours, and the zoom link for that ta -->
                        <ul>
                            <li>SOB HAIL</li>
                            <li>OFFICE HOURS: Wed. 19:00</li>
                            <li>ZOOM LINK</li>
                        </ul>
                    </div>

                    <div class="TA">
                        <!-- the ta container has a list the contains the name, office hours, and the zoom link for that ta -->
                        <ul>
                            <li>JULIE GOB</li>
                            <li>OFFICE HOURS: Tues. 19:00</li>
                            <li>ZOOM LINK</li>
                        </ul>
                    </div>


                </div>
            </div>
        </div>

        <footer class="foot">
            <div class="footer-container">
                <!-- Footer content -->
                <div class="footer-content"><hr>This website was made as an assignment for the course CSCB20 at University of Toronto Scarborough Campus</div>
                <div class="footer-content"><a href="https://web.cs.toronto.edu/">Faculty of Computer Science at UofT</a></div>
                <div class="footer-content">Copyright&copy 2021. All Rights Reserved.</div>
                <div class="footer-content">Made by Jawad Arshad and Jiazheng Li</div>
            </div>
        </footer>
    </body>
</html>