<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../css/feedback.css">
        <title>Feedback</title>
    </head>
    <body>
        <div class="navbar-container">
            <!-- Navbar links -->
            <a href="index.html">Home</a>
            <a href="assignments.html">Assignment</a>
            <a href="syllabus.html">Syllabus</a>
            <a href="piazza.html">Piazza</a>
            <a href="labs.html">Labs</a>
            <a href="markus.html">MarkUs</a>
            <a href="courseteam.html">Course Team</a>
            <a href="feedback.html">Feedback</a>
        </div>
        <div class="body-container">
            <div class="top-info">
                <!-- header and text info on the feedback page -->
                <h1>Leave your Feedback Below</h1>
                <p class="main-text">What do you think of the course?<br>
                   What do you want from the course?<br>
                   Leave your thoughts below
                </p>
                <p class="note-text">
                    ~AT THIS MOMENT THE SUBMIT BUTTON ISN'T CONNENTED TO ANYTHING~
                </p>
            </div>
            <div class="form-container">
                <!-- a form to collect feedback -->
                <form>
                    <label for="name">Name: (optional)</label>
                    <input type="text" id="name" name="name" value="Anon."><br>
                    <label for="feedback">Feedback:</label>
                    <textarea id=feedback name="feedback"></textarea><br>
                    
                    <button class="form-button" type="submit">Submit Feedback</button>
                </form>
            </div>
        </div>

        <footer class="foot">
            <div class="footer-container">
                <!-- Footer content -->
                <div class="footer-content"><hr>This website was made as an assignment for the course CSCB20 at University of Toronto Scarborough Campus</div>
                <div class="footer-content"><a href="https://web.cs.toronto.edu/" target="_blank">Faculty of Computer Science at UofT</a></div>
                <div class="footer-content">Copyright&copy 2021. All Rights Reserved.</div>
                <div class="footer-content">Made by Jawad Arshad and Jiazheng Li</div>
            </div>
        </footer>
    </body>
</html>