<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../static/css/feedback.css">
        <title>Feedback</title>
    </head>
    <body>
        <div class="navbar-container">
            <!-- Navbar links -->
            <a href="index.html">Home</a>
            <a href="assignments.html">Assignment</a>
            <a href="syllabus.html">Syllabus</a>
            <a href="piazza.html">Piazza</a>
            <a href="labs.html">Labs</a>
            <a href="markus.html">MarkUs</a>
            <a href="courseteam.html">Course Team</a>
            <a href="feedback.html">Feedback</a>
            <a href="remark.html">Remark</a>
            <a href="grade.html">Grades</a>
            <a href="login.html">Login</a>
            <a href="logout.html">Logout</a>

        </div>
        <div class="body-container">
            <div class="top-info">
                <!-- header and text info on the feedback page -->
                <h1>Leave your Feedback Below</h1>
                <p class="main-text">What did you like?<br>
                    What did you dislike?<br>
                   Leave your thoughts below
                </p>
            </div>
            {% if admin %}
            {% for element in feedbacks %}
            <div class="row-container">
                <div class="content">Name: {{element['Name']}}</div>
                <div class="content">What did you like: {{element['Like']}}</div>
                <div class="content">What did you dislike: {{element['Dislike']}}</div>
                <div class="content">What would you like to see: {{element['See']}}</div>
            </div>
            {% endfor %}
            {% else %}
            <div class="form-container">
                <!-- a form to collect feedback -->
                
                <form action="/feedback.html" method="post">
                    <label for="name">Name: (optional)</label>
                    <input type="text" id="name" name="name" value="Anon."><br>
                    <label for="like">What did you like:</label>
                    <textarea id=like name="like"></textarea><br>
                    <label for="dislike">What did you dislike:</label>
                    <textarea id=dislike name="dislike"></textarea><br>
                    <label for="see">What would you like to see:</label>
                    <textarea id=see name="see"></textarea><br>
                    
                    <input type="submit" class="form-button" name="feedback" value="Submit Feedback">
                </form>
            </div>
            {% endif %}
        </div>

        <footer class="foot">
            <div class="footer-container">
                <!-- Footer content -->
                <div class="footer-content"><hr>This website was made as an assignment for the course CSCB20 at University of Toronto Scarborough Campus</div>
                <div class="footer-content"><a href="https://web.cs.toronto.edu/" target="_blank">Faculty of Computer Science at UofT</a></div>
                <div class="footer-content">Copyright&copy 2021. All Rights Reserved.</div>
                <div class="footer-content">Made by Jawad Arshad, Yuehai Zhou and Jiazheng Li</div>
            </div>
        </footer>
    </body>
</html>