<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../css/index.css">
        <title>Home</title>
    </head>
    <body>
        <div class="navbar-container">
            <!-- Navbar links -->
            <a href="index.html">Home</a>
            <a href="assignments.html">Assignment</a>
            <a href="syllabus.html">Syllabus</a>
            <a href="piazza.html">Piazza</a>
            <a href="labs.html">Labs</a>
            <a href="markus.html">MarkUs</a>
            <a href="courseteam.html">Course Team</a>
            <a href="feedback.html">Feedback</a>
        </div>
        <!-- main header for the website -->
        <h1 id="intro">CSCB63 Design and Analysis of Data Structures</h1>

        <div class="body-container">
            <div>
                <!-- a brief description of the course -->
                <b>Course Description</b>
                <hr>
                <p>
                    Design, analysis, implementation and comparison of efficient data structures for common abstract data types. 
                    Priority queues: heaps and mergeable heaps. Dictionaries: balanced binary search trees, B-trees, hashing. 
                    Amortization: data structures for managing dynamic tables and disjoint sets. 
                    Data structures for representing graphs. Graph searches.
                </p>
                <!-- Exclusion and Prerequisite -->
                <p><b>Exclusion</b> CSC263H, CSC265H, (CSCC78H)</p>
                <p><b>Prerequisite</b> CSCB36H or (CSCB38H) & [CGPA 2.75 or enrolment in a CSC subject POSt]</p>
                <br><br>
            </div>

            <div>
                <!-- info on the instructor -->
                <b>Instructor</b>
                <hr>
                <p>
                    <b>Dr. Anna Bretscher</b><br>
                    Email: <a href="mailto:anna.bretscher@utoronto.ca">anna.bretscher@utoronto.ca</a><br>
                    Office: IC 493
                </p>  
                <br><br>
            </div>
            <div>
                <!-- the timetable for the course -->
                <b>Timetable</b>
                <hr>
                <p>
                    <b>Lectures</b><br><br>
                    Wednesdays 3-4pm<br>
                    <a href="https://utoronto.zoom.us/j/83378932991">Zoom Link</a><br>
                    Thursdays 9:10-11:00<br>
                    <a href="https://utoronto.zoom.us/j/83378932991">Zoom Link</a><br><br>

                    <b>Office Hours</b><br><br>
                    Mondays 11:00-12:30<br>
                    Friday 10:40-11:30<br>
                </p>
                <br><br>
            </div>

            <div>
                <!-- useful links for the course -->
                <b>Links</b>
                <hr>
                <p>
                    For LaTeX installations, go to the latex project install website. 
                    Both the Windows and Mac versions listed come with editors as well as the packages and compilers.
                    Once you are up and running, I recommend downloading the Not So Short Guide to LaTeX. 
                    Everything you need is there, however it may be overkill. 
                    You can also start with the Latex Template and add as you need.
                </p>
                <br>
                <a href="https://www.latex-project.org/get/">Latex Website</a><br>
                <a href="https://tobi.oetiker.ch/lshort/lshort.pdf">Latex Guide</a><br>
                <a href="Documents/assignment.tex">Latex Template</a>

                <br><br>
            </div>
        </div>

        <footer class="foot">
            <div class="footer-container">
                <!-- Navbar links -->
                <hr id="break-line">
                <div class="footer-content-container">
                    <div class="footer-content">This website was made as an assignment for the course CSCB20 at University of Toronto Scarborough Campus</div>
                    <div class="footer-content"><a href="https://web.cs.toronto.edu/">Faculty of Computer Science at UofT</a></div>
                    <div class="footer-content">Copyright&copy 2021. All Rights Reserved.</div>
                    <div class="footer-content">Made by Jawad Arshad and Jiazheng Li</div>
                </div>
            </div>
        </footer>
    </body>
</html>