<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../css/labs.css">
        <title>Labs</title>
    </head>
    <body>
        <div class="navbar-container"> 
            <!-- Navbar links -->
            <a href="index.html">Home</a>
            <a href="assignments.html">Assignment</a>
            <a href="syllabus.html">Syllabus</a>
            <a href="piazza.html">Piazza</a>                
            <a href="labs.html">Labs</a>
            <a href="markus.html">MarkUs</a>
            <a href="courseteam.html">Course Team</a>
            
            <a href="feedback.html">Feedback</a>
        </div>
        <div class="body-container">
            <div class="labs">        
                <!-- all lab blobs are contained in the labs container -->                           
                <div class="lab">
                    <!-- lab blob, contains the week header and description as well as the links to the handouts -->
                    <h1>Week 1</h1>
                    <p> Description: Lorem ipsum dolor sit amet consectetur adipisicing elit.
                       Asperiores esse incidunt vel, perferendis eum quam officia mollitia vitae rem,                 
                       ratione ad reiciendis accusantium laborum quo iure eius aliquam repellat cumque!</p>
                    <a href="/Documents/labs.pdf">Lab 1 Handout</a>
                    <a href="/Documents/labs solutions.pdf">Lab 1 Solutions</a>
                </div>
                <div class="lab">
                    <!-- lab blob, contains the week header and description as well as the links to the handouts -->
                    <h1>Week 2</h1>
                    <p> Description: Lorem ipsum dolor sit amet consectetur adipisicing elit.
                       Asperiores esse incidunt vel, perferendis eum quam officia mollitia vitae rem,                 
                       ratione ad reiciendis accusantium laborum quo iure eius aliquam repellat cumque!</p>
                    <a href="/Documents/labs.pdf">Lab 2 Handout</a>
                    <a href="/Documents/labs solutions.pdf">Lab 2 Solutions</a>
                </div>
                <div class="lab">
                    <!-- lab blob, contains the week header and description as well as the links to the handouts -->
                    <h1>Week 3</h1>
                    <p> Description: Lorem ipsum dolor sit amet consectetur adipisicing elit.
                       Asperiores esse incidunt vel, perferendis eum quam officia mollitia vitae rem,                 
                       ratione ad reiciendis accusantium laborum quo iure eius aliquam repellat cumque!</p>
                    <a href="/Documents/labs.pdf">Lab 3 Handout</a>
                    <a href="/Documents/labs solutions.pdf">Lab 3 Solutions</a>
                </div>
                <div class="lab">
                    <!-- lab blob, contains the week header and description as well as the links to the handouts -->
                    <h1>Week 4</h1>
                    <p> Description: Lorem ipsum dolor sit amet consectetur adipisicing elit.
                       Asperiores esse incidunt vel, perferendis eum quam officia mollitia vitae rem,                 
                       ratione ad reiciendis accusantium laborum quo iure eius aliquam repellat cumque!</p>
                    <a href="/Documents/labs.pdf">Lab 4 Handout</a>
                    <a href="/Documents/labs solutions.pdf">Lab 4 Solutions</a>
                </div>
                <div class="lab">
                    <!-- lab blob, contains the week header and description as well as the links to the handouts -->
                    <h1>Week 5</h1>
                    <p> Description: Lorem ipsum dolor sit amet consectetur adipisicing elit.
                       Asperiores esse incidunt vel, perferendis eum quam officia mollitia vitae rem,                 
                       ratione ad reiciendis accusantium laborum quo iure eius aliquam repellat cumque!</p>
                    <a href="/Documents/labs.pdf">Lab 5 Handout</a>
                    <a href="/Documents/labs solutions.pdf">Lab 5 Solutions</a>
                </div>
                <div class="lab">
                    <!-- lab blob, contains the week header and description as well as the links to the handouts -->
                    <h1>Week 6</h1>
                    <p> Description: Lorem ipsum dolor sit amet consectetur adipisicing elit.
                       Asperiores esse incidunt vel, perferendis eum quam officia mollitia vitae rem,                 
                       ratione ad reiciendis accusantium laborum quo iure eius aliquam repellat cumque!</p>
                    <a href="/Documents/labs.pdf">Lab 6 Handout</a>
                    <a href="/Documents/labs solutions.pdf">Lab 6 Solutions</a>
                </div>
                <div class="lab">
                    <!-- lab blob, contains the week header and description as well as the links to the handouts -->
                    <h1>Week 7</h1>
                    <p> Description: Lorem ipsum dolor sit amet consectetur adipisicing elit.
                       Asperiores esse incidunt vel, perferendis eum quam officia mollitia vitae rem,                 
                       ratione ad reiciendis accusantium laborum quo iure eius aliquam repellat cumque!</p>
                    <a href="/Documents/labs.pdf">Lab 7 Handout</a>
                    <a href="/Documents/labs solutions.pdf">Lab 7 Solutions</a>
                </div>
                <div class="lab">
                    <!-- lab blob, contains the week header and description as well as the links to the handouts -->
                    <h1>Week 8</h1>
                    <p> Description: Lorem ipsum dolor sit amet consectetur adipisicing elit.
                       Asperiores esse incidunt vel, perferendis eum quam officia mollitia vitae rem,                 
                       ratione ad reiciendis accusantium laborum quo iure eius aliquam repellat cumque!</p>
                    <a href="/Documents/labs.pdf">Lab 8 Handout</a>
                    <a href="/Documents/labs solutions.pdf">Lab 8 Solutions</a>
                </div>
                <div class="lab">
                    <!-- lab blob, contains the week header and description as well as the links to the handouts -->
                    <h1>Week 9</h1>
                    <p> Description: Lorem ipsum dolor sit amet consectetur adipisicing elit.
                       Asperiores esse incidunt vel, perferendis eum quam officia mollitia vitae rem,                 
                       ratione ad reiciendis accusantium laborum quo iure eius aliquam repellat cumque!</p>
                    <a href="/Documents/labs.pdf">Lab 9 Handout</a>
                    <a href="/Documents/labs solutions.pdf">Lab 9 Solutions</a>
                </div>
                <div class="lab">
                    <!-- lab blob, contains the week header and description as well as the links to the handouts -->
                    <h1>Week 10</h1>
                    <p> Description: Lorem ipsum dolor sit amet consectetur adipisicing elit.
                       Asperiores esse incidunt vel, perferendis eum quam officia mollitia vitae rem,                 
                       ratione ad reiciendis accusantium laborum quo iure eius aliquam repellat cumque!</p>
                    <a href="/Documents/labs.pdf">Lab 10 Handout</a>
                    <a href="/Documents/labs solutions.pdf">Lab 10 Solutions</a>
                </div>
                <div class="lab">
                    <!-- lab blob, contains the week header and description as well as the links to the handouts -->
                    <h1>Week 11</h1>
                    <p> Description: Lorem ipsum dolor sit amet consectetur adipisicing elit.
                       Asperiores esse incidunt vel, perferendis eum quam officia mollitia vitae rem,                 
                       ratione ad reiciendis accusantium laborum quo iure eius aliquam repellat cumque!</p>
                    <a href="/Documents/labs.pdf">Lab 11 Handout</a>
                    <a href="/Documents/labs solutions.pdf">Lab 11 Solutions</a>
                </div>
                <div class="lab">
                    <!-- lab blob, contains the week header and description as well as the links to the handouts -->
                    <h1>Week 12</h1>
                    <p> Description: Lorem ipsum dolor sit amet consectetur adipisicing elit.
                       Asperiores esse incidunt vel, perferendis eum quam officia mollitia vitae rem,                 
                       ratione ad reiciendis accusantium laborum quo iure eius aliquam repellat cumque!</p>
                    <a href="/Documents/labs.pdf">Lab 12 Handout</a>
                    <a href="/Documents/labs solutions.pdf">Lab 12 Solutions</a>
                </div>
            </div>
        
        </div>

        <footer class="footer">
            <div class="footer-container">
                <!-- Footer content -->
                <div class="footer-content"><hr>This website was made as an assignment for the course CSCB20 at University of Toronto Scarborough Campus</div>         
                <div class="footer-content"><a href="https://web.cs.toronto.edu/">Faculty of Computer Science at UofT</a></div>         
                <div class="footer-content">Copyright&copy 2021. All Rights Reserved.</div>
                <div class="footer-content">Made by Jawad Arshad and Jiazheng Li</div>
            </div>
        </footer>
    </body>
</html>