<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../css/markus.css">
        <title>MarkUs</title>
    </head>
    <body>
        <div class="navbar-container">
            <!-- Navbar links -->
            <a href="index.html">Home</a>
            <a href="assignments.html">Assignment</a>
            <a href="syllabus.html">Syllabus</a>
            <a href="piazza.html">Piazza</a>
            <a href="labs.html">Labs</a>
            <a href="markus.html">MarkUs</a>
            <a href="courseteam.html">Course Team</a>
            <a href="feedback.html">Feedback</a>
        </div>
        <div class="body-container">
            <!-- Header for the MarkUs page -->
            <div class="page-text">
                <h1>Click the link below to take you to MarkUs</h1>
            </div>
            <!-- link to the MarkUs -->
            <form action="https://markus.utsc.utoronto.ca/">
                <button type="submit">MarkUs</button>
            </form>
        
        </div>

        <footer class="foot">
            <div class="footer-container">
                <!-- Footer content -->
                <div class="footer-content"><hr>This website was made as an assignment for the course CSCB20 at University of Toronto Scarborough Campus</div>
                <div class="footer-content"><a href="https://web.cs.toronto.edu/">Faculty of Computer Science at UofT</a></div>
                <div class="footer-content">Copyright&copy 2021. All Rights Reserved.</div>
                <div class="footer-content">Made by Jawad Arshad and Jiazheng Li</div>
            </div>
        </footer>
    </body>
</html>