<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../css/login.css">
        <title>Remark</title>
    </head>
    <body>
        <div class="navbar-container">
            <!-- Navbar links -->
            <a href="index.html">Home</a>
            <a href="assignments.html">Assignment</a>
            <a href="syllabus.html">Syllabus</a>
            <a href="piazza.html">Piazza</a>
            <a href="labs.html">Labs</a>
            <a href="markus.html">MarkUs</a>
            <a href="courseteam.html">Course Team</a>
            <a href="feedback.html">Feedback</a>
        </div>
        <div class="body-container">
            <div class="row-container">
                <div>Username</div>
                <div>Name</div>
                <div>Assignment</div>
                <div>Mark</div>
                <div>Description</div>
                <div>Remark</div>
            </div>
            {% for element in remarks %}
            <div class="row-container">
                <div>{{element['Username']}}</div>
                <div>{{element['name']}}</div>
                <div>{{element['Ass_id']}}</div>
                <div>{{element['Mark']}}</div>
                <div>{{element['Reason']}}</div>
                <div><button>Remark</button></div>
            </div>
            {% endfor %}

        </div>

        <footer class="foot">
            <div class="footer-container">
                <!-- Footer content -->
                <div class="footer-content"><hr>This website was made as an assignment for the course CSCB20 at University of Toronto Scarborough Campus</div>
                <div class="footer-content"><a href="https://web.cs.toronto.edu/" target="_blank">Faculty of Computer Science at UofT</a></div>
                <div class="footer-content">Copyright&copy 2021. All Rights Reserved.</div>
                <div class="footer-content">Made by Jawad Arshad and Jiazheng Li</div>
            </div>
        </footer>
    </body>
</html>