<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../static/css/remark.css">
        <title>Remark</title>
    </head>
    <body>
        <div class="navbar-container">
            <!-- Navbar links -->
            <a href="index.html">Home</a>
            <a href="assignments.html">Assignment</a>
            <a href="syllabus.html">Syllabus</a>
            <a href="piazza.html">Piazza</a>
            <a href="labs.html">Labs</a>
            <a href="markus.html">MarkUs</a>
            <a href="courseteam.html">Course Team</a>
            <a href="feedback.html">Feedback</a>
            <a href="remark.html">Remark</a>
            <a href="grade.html">Grades</a>
            <a href="login.html">Login</a>
            <a href="logout.html">Logout</a>

        </div>
        <div class="body-container">
            <div class="row-container">
                <div class="content">Username</div>
                <div class="content">Name</div>
                <div class="content">Assignment</div>
                <div class="content">Mark</div>
                <div class="content">Description</div>
                <div class="content">Remark</div>
            </div>
            {% for element in remarks %}
            <div class="row-container">
                <form action="/remark.html" method="post">
                    <input type="hidden" name="Username" id="Username" value="{{element['Username']}}">
                    <div class="content">{{element['Username']}}</div>
                    <input type="hidden" name="name" id="name" value="{{element['name']}}">
                    <div class="content">{{element['name']}}</div>
                    <input type="hidden" name="Ass_id" id="Ass_id" value="{{element['Ass_id']}}">
                    <div class="content">{{element['Ass_id']}}</div>
                    <input type="hidden" name="Mark" id="Mark" value="{{element['Mark']}}">
                    <div class="content">{{element['Mark']}}</div>
                    
                    {% if admin %}
                    <input type="hidden" name="Reason" id="Reason" value="{{element['Reason']}}">
                    <div class="content">{{element['Reason']}}</div>
                    <input type="number" name="new_mark" value="0" min="0">
                    {% else %}
                    <input type="text" name="Reason" value="Reason">
                    {% endif %}
                    <input type="submit" name="Remark" value="Remark"> 
                </form>
            </div>
            {% endfor %}

        </div>

        <footer class="foot">
            <div class="footer-container">
                <!-- Footer content -->
                <div class="footer-content"><hr>This website was made as an assignment for the course CSCB20 at University of Toronto Scarborough Campus</div>
                <div class="footer-content"><a href="https://web.cs.toronto.edu/" target="_blank">Faculty of Computer Science at UofT</a></div>
                <div class="footer-content">Copyright&copy 2021. All Rights Reserved.</div>
                <div class="footer-content">Made by Jawad Arshad, Yuehai Zhou and Jiazheng Li</div>
            </div>
        </footer>
    </body>
</html>