<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../static/css/login.css">
        <title>Signup</title>
    </head>
    <body>
        <div class="navbar-container">
            <!-- Navbar links -->
            <a href="index.html">Home</a>
            <a href="assignments.html">Assignment</a>
            <a href="syllabus.html">Syllabus</a>
            <a href="piazza.html">Piazza</a>
            <a href="labs.html">Labs</a>
            <a href="markus.html">MarkUs</a>
            <a href="courseteam.html">Course Team</a>
            <a href="feedback.html">Feedback</a>
            <a href="remark.html">Remark</a>
            <a href="grade.html">Grades</a>
            <a href="login.html">Login</a>
        </div>
        <div class="body-container">
            <div class="form-container">
                <!-- a form to collect user info -->
                <form method="POST" action="/signup.html">
                    <input type="text" id="username" name="username" placeholder="Username"><br>
                    <input type="text" id="password" name="password" placeholder="Password"><br>
                    <input type="text" id="name" name="name" placeholder="Name"><br>
                    <button class="form-button" type="submit" name="su_student" value="su_student"onclick="location.href='index.html'">Signup as Student</button>
                    <button class="form-button" type="submit" name="su_instructor" value="su_instructor"onclick="location.href='index.html'">Signup as Instructor</button>
                </form>
            </div>
        </div>

        <footer class="foot">
            <div class="footer-container">
                <!-- Footer content -->
                <div class="footer-content"><hr>This website was made as an assignment for the course CSCB20 at University of Toronto Scarborough Campus</div>
                <div class="footer-content"><a href="https://web.cs.toronto.edu/" target="_blank">Faculty of Computer Science at UofT</a></div>
                <div class="footer-content">Copyright&copy 2021. All Rights Reserved.</div>
                <div class="footer-content">Made by Jawad Arshad, Yuehai Zhou and Jiazheng Li</div>
            </div>
        </footer>
    </body>
</html>
