<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../css/syllabus.css">
        <title>Syllabus</title>
    </head>
    <body>
        <div class="navbar-container">
            <!-- Navbar links -->
            <a href="index.html">Home</a>
            <a href="assignments.html">Assignment</a>
            <a href="syllabus.html">Syllabus</a>
            <a href="piazza.html">Piazza</a>
            <a href="labs.html">Labs</a>
            <a href="markus.html">MarkUs</a>
            <a href="courseteam.html">Course Team</a>
            <a href="feedback.html">Feedback</a>
        </div>
        <div class="body-container">
            <!-- link to the syllabus -->
            <div class="syllabus">
                <a href="https://mathlab.utsc.utoronto.ca/bretscher/b63/lectures/w1/w1.pdf">Link to Syllabus</a>
            </div>
        </div>

        <footer class="footer">
            <div class="footer-container">
                <!-- Footer content -->
                <hr id="break-line">
                <div class="footer-content-container">
                    <div class="footer-content">This website was made as an assignment for the course CSCB20 at University of Toronto Scarborough Campus</div>
                    <div class="footer-content"><a href="https://web.cs.toronto.edu/">Faculty of Computer Science at UofT</a></div>
                    <div class="footer-content">Copyright&copy 2021. All Rights Reserved.</div>
                    <div class="footer-content">Made by Jawad Arshad and Jiazheng Li</div>
                </div>
            </div>
        </footer>
    </body>
</html>