body {
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #ecf0f1 ;
    font-family: 'Courier New', Courier, monospace;
}

.navbar-container {
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: #2980b9;
    position: fixed;
    top: 0;
    z-index: 9999;
}


.navbar-container a{
    padding: 10px 20px;
    text-decoration: none;
    text-align: center;
    color: #ecf0f1 ;
}

.navbar-container a:hover {
    background-color: #ecf0f1  ;
    color: #2ecc71 ;
}


/*-----------------------Body CSS-----------------------*/
.body-container {
    padding-top: 50px;
    margin: 20px 50px;
    text-align: center;
    animation: main 2s forwards;
}

@keyframes main {
    0% {opacity: 0%;}
    100% {opacity: 100%;}
}

h1 {
    text-transform: uppercase;
}

.TA-container {
    display: flex;
    flex-direction: column;
    border: 1px solid #2980b9;
    border-radius: 10px;
    padding: 3px;
    margin-bottom: 70px;
    box-shadow: 0 0 20px #2ecc71;
}

.TAs {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

ul {
    list-style-type: none;
    padding: 0;
}

.course-instrctor {
    display: flex;
    align-items: center;
    margin-bottom: 3%;
}

.course-instrctor a{
    text-decoration: none;
    color: #2980b9;
}

.course-instrctor a:hover {
    color: #2ecc71 ;
}

#anna-img {
    width: 819px;
    margin: 10px;
}

#anna-img img{
    width: 100%;
    border-radius: 10px;
}

#description {
    margin: 25px;
}

#description h1{
    padding: 2%;
}

/*-----------------------Footer CSS-----------------------*/

.footer-container {
    width: 100%;
    justify-content: center;
    flex-flow: wrap;
}


.footer-container a{
    text-decoration: none;
    color: #2980b9;
    
}

.footer-content{
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    color: #2980b9;
    
}

#break-line{
    margin-block-end: 0em;
}

.footer-container a:hover {
    color: #2ecc71 ;
}



@media screen and (max-width: 768px) {
    .navbar-container {
        size: 1%;
        flex-direction: column; 
        text-align: center;
        position: relative;
    }

    .navbar-container a{
        padding: 5px;
    }

    .footer-container{
        flex-direction: column; 
        text-align: center;
    }

    #anna-img {
        width: 50%;
        margin: 10px;
    }

    .body-container {
        padding-top: 0px;
        margin: 20px 30px;
    }

    .course-instrctor {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: 3%;
    }

  }
